.container{
    height: 100%;
    background: lightcyan;
}

.navbar-brand{
    margin-left: 37%;
}

/* app-footer {
    position: absolute;
    bottom: auto;
} */

@media(min-width:415px){

    .navbar-brand{
        display: none;
    }

}