<div class="body">
    
    <mat-grid-list [cols]="cols"  [rowHeight] ="rowHeight"> 

        <mat-grid-tile class="texto">

                <div class="texto">
    <img class="pop" src="assets/img/catalog/geralt.png">
<br>
<span>De la serie de The witcher, Geralt de Rivia.</span><br>
<span>9,99</span><br>
</div>
</mat-grid-tile>

<mat-grid-tile class="texto">
        <div class="texto">
<img class="pop" src="assets/img/catalog/akuma.png">
<br>
<span>Llega desde street fighter, Akuma.</span><br>
<span>8,99</span><br>
</div>
</mat-grid-tile>

<mat-grid-tile>
        <div class="texto">
<img class="pop" src="assets/img/catalog/fff.png">
<br>
<span>Un robot de five nights at freddy's, dark springtrap</span><br>
<span>7,49</span><br>
</div>
</mat-grid-tile>

<mat-grid-tile>
        <div class="texto">
<img class="pop" src="assets/img/catalog/lara.png">
<br>
<span>Una gran arqueóloga, Lara Croft</span><br>
<span>8,49</span><br>
</div>
</mat-grid-tile>

<mat-grid-tile>
        <div class="texto">
<img class="pop" src="assets/img/catalog/cup1.png">
<br>
<span>Después de haber hecho el contrato con el diablo, Cuphead</span><br>
<span>7,99</span><br>
</div>
</mat-grid-tile>

<mat-grid-tile>
        <div class="texto">
<img class="pop" src="assets/img/catalog/cup2.png">
<br>
<span>Hermano y cómplice de cuphead, Mugman</span><br>
<span>7,99</span><br>
</div>
</mat-grid-tile>


<mat-grid-tile>
    <div class="texto">
<img class="pop" src="assets/img/catalog/flash.png">
<br>
<span>Héroe de la liga de la justicia con supervelocidad, The Flash</span><br>
<span>9,99</span><br>
</div>
</mat-grid-tile>

<mat-grid-tile>
    <div class="texto">
<img class="pop" src="assets/img/catalog/wick.png">
<br>
<span>El asesino legendario John Wick</span><br>
<span>9,99</span><br><br><br><br>
</div>
</mat-grid-tile>


</mat-grid-list>
</div>

<mat-grid-tile-footer>
<app-footer></app-footer>
</mat-grid-tile-footer>