.players {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 18em;
    margin-bottom: auto;
    color: #2a3a36;
  }
  .players li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .players li:hover {
    color: #a7ead7;
    background-color: #DDD;
    left: .1em;
  }
  .players li.selected {
    background-color: #CFD8DC;
    color: white;
  }
  .players li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }
  .players a {
    color: #333; /*letras pre*/
    text-decoration: none;
    position: relative;
    display: block;
    width: 250px;
  }
  .players a:hover {
    color:#607D8B; /*letras*/
  }
  .players .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
  }
  
  button:hover {
    background-color: #cfd8dc;
  }
  
  button.delete {
    position: relative;
    left: 194px;
    top: -32px;
    background-color: #9dcfc1 !important;
    color: #2a3a36;
    margin-left: 16%;
  }

  .margins{
    margin-left: 42%;
    margin-right: 40%;
    margin-top: 1%;
    margin-bottom: 3%;
  }

  #badge{
    color:#2a3a36;
    background: #9dcfc1;
  }
  