<div class="divFooter">
    <footer>
        <table class="tabla1">
            <tr>
                <td class="messages">
                    <app-messages></app-messages>
                </td>
                <td>
                    <div class="info">
                        <table class="tabla2"> 
                            <tr class="esica">Pablo Ramilo Costal</tr>
                            <tr class="esica">  ESICA </tr>
                                    <tr class="esica"> DAM 2 (2018-2019)</tr>
                                    <tr class="esica"> <a href="https://github.com/pablo3399/DI">
                                        <img class ="img" src="assets/img/github.png"></a></tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </footer>
</div>