.messages{
    float: left;
    margin-left: 10%;
    margin-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    display: block;
    border:1.5px dotted black;

}
.divFooter{
    background: #666666;
    height: 25%;
    margin-top: 6%;
}
.info{
float: right;
margin-right: 10%;
}

.tabla1{
    width: 100%;
}
.img{
text-align: center;
    width: 8%;
    height: 8%;
    margin-top: 0.5%;
}
.esica{
    text-align: center;
}

