#playerN{
    list-style-position: inherit;
    margin-left: 1%;
}

#playerD{
    list-style-position: inherit;

    margin-left: 0.75%;
}

.error{
    color: red;
    text-align: center;
}

#bg{
    background: #dbeaa7;
    margin-right:42%;
    margin-top: 6%;
    color:black;
   margin-left: 34%;
   margin-bottom: 22%;

}
.add1{
    margin-left: 1.3%;
    margin-top: 1%;
    color: #2a3a36;
}
.add2{
    margin-left: 1.3%;
    margin-bottom: 1%;
    margin-top: 1%;
    color: #2a3a36;
}

#save{
    background: #b6a7ea;
    margin-left: 2%;
    margin-top: 3%;
    margin-bottom: 2%;
}

.radio{
    background: #eaa7ba; /*fondo*/
    color: #2a3a36; /*letra*/
    display: inline-flexbox;
}

.texto{
margin-left:1.5%;
color: #2a3a36;
}
