

   <div id="bg">

    <form novalidate (ngSubmit)="onSubmit()"  [formGroup]="user">

  <div class="add1"> <label>Player name:
      <input type="text" #playerName id="playerN" formControlName="name1"/>
    </label>
  </div>
      
        <div class="add2">
    <label>Player dorsal:
            <input type="number" #playerDorsal id="playerD" formControlName="name2"/>
          </label>
          </div>

<mat-radio-group name="opciones" [(ngModel)]="operacionSeleccionada" formControlName="radios">
  Posicion:
  <mat-radio-button class="radio" *ngFor="let op of tipoOperaciones" name="opciones" [value]="op"  style="margin: 10px" >
    {{op}}
  </mat-radio-button>
</mat-radio-group>

<div>
    <button mat-raised-button color="primary" type="submit" [disabled]="user.invalid" (click)="operar(); add(playerName.value, playerDorsal.value)">add player</button>
      <button (click)="goBack()">go back</button>
</div>
</form>
</div>

