/* AppComponent's private CSS styles */
h1 {
    font-size: 200%;
    margin-bottom: 0;
  }

  nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 15px;
    display: inline-block;
    padding-top: 0.75%;
    border-radius: 4px;
    margin-bottom: 1%;
    background: #92cdbc;
  }
  nav a:visited, a:link {
    color: #2a3a36;
  }
  nav a:hover {
    color: #ff02dd;
    background: greenyellow;
  }
  nav a.active {
    color: #039be5;
  }

  .footer{
    margin-top: auto;
  }

  .n{
    background: #369;
  }

  html{
    margin-right: 1.5%;
    margin-left: 1.5%;
    margin-bottom: auto;
  }
  .btn{
    background: #369;
    background-color: #369;
  }
  

  #tabs {
    width: auto;
    height: auto;
  }

  .playerS{
    padding-left: 3%;
    color: #2a3a36;
  }

