<html>

<h1>{{title}}</h1>

<!--<nav>
    <div class="n">
     <a routerLink="/home-component">Home</a> 
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/players">Players</a> 
    </div>
    <div id="psearch">
    <app-player-search></app-player-search>
    </div>
</nav> -->

<nav mat-tab-nav-bar>
    <a mat-tab-link
       routerLink="home-component"
    >Home
    </a>
    <a mat-tab-link
       routerLink="dashboard"
    >Dashboard
    </a>
    <a mat-tab-link
       routerLink="players"
    >Players
    </a>
    <app-player-search></app-player-search>
  </nav>

<router-outlet></router-outlet>
</html>
<app-footer></app-footer>