
.divFooter{
    background: #7dafa1;
    margin-top: 6%;
    margin-left: -5%;
    margin-right: -2%;
    margin-bottom: 0%;
}
.info{
text-align: center;
margin-top: auto;
padding-top: 2%;
padding-bottom: 2%;
color: #3f5851;
}

.img{
text-align: center;
    width: 2%;
    height: 2%;
    margin-top: 0.5%;
}


