<div class="body">
<h1>
Who we are?
</h1>
<img class="pop" src="assets/img/who/funko.png">
<br>
<div class="texto">
<span>Somos una empresa de figuras custom pop! en la que recibimos tu pedido y un par de días lo tenemos listo.<br><br>
    Hacemos entregas por toda europa y nuestro producto es de gran calidad.</span><br>
</div>
<br>
<br>
    <img class="bunny" src="assets/img/who/bunny.png">
    <br>
    <br>
    <div class="texto">
    <span>
    La idea nació de las famosas figuras funko pop! que tenían unos diseños ya hechos, pero era poco común que se hicieran por pedido de cliente,
    asi que creamos una tienda donde las personas pudieran tener una figura de su personaje favorito de alguna serie, película o alguna idea propia.

</span>
</div>
<br><br>
<img class="kratos" src="assets/img/who/kratos_pop.png">
</div>

<div class="foter">
    <app-footer></app-footer>
</div>