.texto{
    text-align: center;
}

.articles-img{

    width: 50%;
    height: 50%;
}

#margen{
    text-align: center;
    margin-bottom: 10%;
}
.articles-texto{
    font-size: 30px;
}

.title{
    color:black;
}

.subtitle{
    color:black
}

.pagi{
    float: right;
}

@media(min-width:415px){
    .articles-img{
        width: 40%;
        height: 40%;
    }
}