<footer>
        <ul class="navega">
                <li>Esica 2019-2020</li>
                <li><img class="twitter" src="assets/img/footer/twitter.png"></li>
                <li><img class="facebook" src="assets/img/footer/facebook.png"></li>
                <li><img class="instagram" src="assets/img/footer/instagram.png"></li>
                <li><img class="copy" src="assets/img/footer/copy.png"></li>
                <li><span class="text1">All rights reserved.</span></li>
              </ul>
              <span class="text2">All rights reserved.</span>
</footer>
