
      <div class="w3-sidebar w3-light-grey w3-bar-block" id = "sidebar" style="width:20%; right:0;">
        <h3 class="w3-bar-item">Artículos destacados</h3>
        <a routerLink="/articlesComp/5" id="text" class="w3-bar-item w3-button">Superman</a> <br>
        <a routerLink="/articlesComp/7"  id="text" class="w3-bar-item w3-button">Pennywise</a>  <br>
        <a routerLink="/articlesComp/2"  id="text" class="w3-bar-item w3-button">Armadura Fallout 4</a> <br>
        <a routerLink="/articlesComp/4"  id="text" class="w3-bar-item w3-button">Meeseeks</a>  <br>
        <a routerLink="/articlesComp/10"  id="text" class="w3-bar-item w3-button">Geralt de Rivia</a> 
      </div>
